<!DOCTYPE html>
<html lang="en">

<head th:replace="~{shared/head :: head() }"></head>

<body>
<div th:replace="~{shared/header/header :: header(titulo = '') }"></div>

<div class="wrapper">
  <div th:replace="~{shared/sidebar/sidebar :: sidebar() }"></div>

  <div class="container">

  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/areas">Áreas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
  </nav>

  <form th:action="@{/areas/editar/{id}(id = ${area.id})}" th:object="${area}" method="post">
    <h1 class="mt-4 mb-4">Emitir Recibo</h1>

    <div class="card mb-3 col-12 col-md-5">
      <div class="card-body">
        <h4 class="mb-3">Editar Área</h4>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatId" placeholder="dni" th:field="*{id}" readonly>
          <label for="floatId">Cod.</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatNombre" placeholder="nombres"
                 th:field="*{nombre}">
          <label for="floatNombre">Nombre</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="floatSueldo" placeholder="nombres"
                 th:field="*{sueldoBasico}">
          <label for="floatSueldo">Sueldo Básico</label>
        </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-5 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mb-5">Editar</button>
      </div>
    </div>
  </form>
</div>
</div>

</body>
</html>