<!DOCTYPE html>
<html lang="es">

<head th:replace="~{shared/head :: head() }"></head>
<div th:replace="~{shared/header/header :: header() }"></div>

<body>

<div class="container">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/empleados/">Empleados</a></li>
            <li class="breadcrumb-item active" aria-current="page">Agregar</li>
        </ol>
    </nav>

    <div class="row">
        <form th:action="@{/empleados/agregar}" th:object="${empleado}" method="POST" enctype="multipart/form-data">

            <div class="container mt-2">
                <h1 class="mt-2 mb-4">Agregar Empleado</h1>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h4 class="mb-3">Datos personales</h4>

                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="floatDni" placeholder="dni" th:field="*{dni}" required>
                                    <label for="floatDni">Nro de DNI</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="floatNombre" placeholder="nombres" th:field="*{nombre}"
                                           required>
                                    <label for="floatNombre">Nombres</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="floatApPaterno" placeholder="appaterno" th:field="*{apPaterno}" required>
                                    <label for="floatApPaterno">Ap. Paterno</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="floatApMaterno" placeholder="apmaterno" th:field="*{apMaterno}" required>
                                    <label for="floatApMaterno">Ap. Materno</label>
                                </div>
                                <div class="form-check form-check-inline mt-1 mb-3">
                                    <input class="form-check-input" type="radio" name="radioDefault" id="masculino" th:value="false" th:field="*{genero}">
                                    <label class="form-check-label" for="masculino"> Masculino </label>
                                </div>
                                <div class="form-check form-check-inline mt-1 mb-3">
                                    <input class="form-check-input" type="radio" name="radioDefault" id="femenino" th:value="true" th:field="*{genero}">
                                    <label class="form-check-label" for="femenino"> Femenino </label>
                                </div>
                                <div class="form-floating mb-2">
                                    <select id="floatEstCivil" class="form-select" th:field="*{estadoCivil}" required>
                                        <option value="">Seleccione...</option>
                                        <option th:each="estCivil : ${ estadosciviles }" th:value="${ estCivil.id }" th:text="${ estCivil.nombre }"></option>
                                    </select>
                                    <label for="floatEstCivil">Estado Civil</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="date" class="form-control" id="floatFechaNac" placeholder="fechanac" th:field="*{fechaNacimiento}" required>
                                    <label for="floatFechaNac">Fecha Nac.</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="file" name="file" class="form-control" id="floatFoto">
                                    <label for="floatFoto">Foto del Empleado</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h4 class="mb-3">Datos laborales</h4>

                                        <div class="form-floating mb-2">
                                            <select id="floatArea" class="form-select" th:field="*{area}" required>
                                                <option value="">Seleccione...</option>
                                                <option th:each="area : ${ areas }" th:value="${ area.id }" th:text="${ area.nombre }"></option>
                                            </select>
                                            <label for="floatArea">Área</label>
                                        </div>
                                        <div class="form-floating mb-2">
                                            <select id="floatJornada" class="form-select" th:field="*{jornadaLaboral}" required>
                                                <option value="">Seleccione...</option>
                                                <option th:each="jornada : ${ jornadas }" th:value="${ jornada.id }" th:text="${ jornada.nombre }"></option>
                                            </select>
                                            <label for="floatJornada">Jornada</label>
                                        </div>
                                        <div class="form-floating mb-2">
                                            <select id="floatModalidad" class="form-select" th:field="*{modalidadContrato}" required>
                                                <option value="">Seleccione...</option>
                                                <option th:each="modalidad : ${ modalidades }" th:value="${ modalidad.id }" th:text="${ modalidad.nombre }"></option>
                                            </select>
                                            <label for="floatModalidad">Modalidad</label>
                                        </div>
                                        <div class="form-floating mb-2">
                                            <input type="date" class="form-control" id="fechaEmision" placeholder="fechaems"
                                                   th:field="*{fechaEmision}" required>
                                            <label for="fechaEmision">Fecha Emisión</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mb-3">Datos bancarios</h4>

                                        <div class="form-floating mb-2">
                                            <select id="floatBanco" class="form-select" th:field="*{banco}" required>
                                                <option value="">Seleccione...</option>
                                                <option th:each="banco : ${ bancos }" th:value="${ banco.id }" th:text="${ banco.nombre }"></option>
                                            </select>
                                            <label for="floatBanco">Banco</label>
                                        </div>
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="floatCci" placeholder="CCI" th:field="*{cci}" required>
                                            <label for="floatCci">CCI de su Cuenta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg mb-5">Agregar</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>
</body>
</html>