<!DOCTYPE html>
<html lang="es">

<head th:replace="~{shared/head :: head() }"></head>
<div th:replace="~{shared/header/header :: header() }"></div>
<style>
    a {
        text-decoration: none;
    }
    .toast {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1050;
    }
    .toast .d-flex img {
        vertical-align: middle;
    }
</style>
<body>

<div class="container px-4">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/empleados/">Empleados</a></li>
            <li class="breadcrumb-item active" aria-current="page">Agregar</li>
        </ol>
    </nav>

    <form th:action="@{/empleados/emitir-recibo/{id}(id = ${facturacion.idEmpleado})}" th:object="${facturacion}" method="POST" enctype="multipart/form-data">

        <h1 class="mt-4 mb-4">Emitir Recibo</h1>

        <div class="card mb-3 col-12 col-md-5" >
            <div class="card-body ">
                <h4 class="mb-3">Datos personales</h4>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatDni" placeholder="dni" th:field="*{dni}">
                    <label for="floatDni">DNI</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatEmpleado" placeholder="nombres" th:field="*{empleado}">
                    <label for="floatEmpleado">Nombres</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatFechaPago" placeholder="fechapago" th:field="*{fechaPago}" th:value="*{fechaPago}">
                    <label for="floatFechaPago">Fecha</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatSueldo" placeholder="nombres" th:field="*{sueldoBruto}">
                    <label for="floatSueldo">Sueldo Bruto</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="idBonificacion" th:checked="${bonificacion}" th:disabled="${!bonificacion}">
                    <label class="form-check-label" for="idBonificacion">
                        Bonificación
                    </label>
                </div>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-12 col-md-5 d-flex justify-content-center">
                <button id="btnGenerar" type="submit" class="btn btn-primary mb-5" onclick="borrar()">Emitir</button>
            </div>
        </div>

        <input type="text" id="facturacionJson">
    </form>
</div>

<!--toasts-->

<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" id="liveToast"
     th:if="${mensaje != null}">
    <div class="d-flex align-items-center">
        <img src="/icons/success.svg" class="rounded ms-2" alt="Éxito" width="20" height="20">
        <div class="toast-body" th:text="${mensaje}"></div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" id="errorToast"
     th:if="${error != null}">
    <div class="d-flex">
        <img src="/icons/error.svg" class="rounded ms-2" alt="Éxito" width="20" height="20">
        <div class="toast-body">
            <span th:text="${error}"></span>
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function () {
        var toastElement = document.getElementById('liveToast');
        var errorToastElement = document.getElementById('errorToast');

        if (toastElement) {
            var toast = new bootstrap.Toast(toastElement);
            toast.show();
        }

        if (errorToastElement) {
            var errorToast = new bootstrap.Toast(errorToastElement);
            errorToast.show();
        }
    });
    /*]]>*/
</script>

<!--pdf-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
<script>
    function borrar(){
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();

        console.log("ID de la facturación:", facturacion.idEmpleado);  // Acceder al id
        console.log("DNI del empleado:", facturacion.dni);        // Acceder al dni
        console.log("Fecha de pago:", facturacion.fechaPago);    // Acceder a la fecha de pago
        console.log("Sueldo bruto:", facturacion.sueldoBruto);    // Acceder al sueldo bruto

        doc.text("Hello pdf!", 10, 10);
        doc.save("Recibo .pdf");
    }
</script>
<!--<script src="/js/generatePdf.js"></script>-->

<!--Nombre completo-->
<!--DNI-->
<!--Fecha de ingreso-->
<!--Salario básico-->
<!--Beneficios adicionales-->
<!--Total recibido-->

</body>
</html>