<!DOCTYPE html>
<html lang="es">

<head th:replace="~{shared/head :: head() }"></head>
<div th:replace="~{shared/header/header :: header() }"></div>

<body>

<h1>Detalle Empleados</h1>

<h3>Datos Personales</h3>
<section class="section">
    <div th:object="${empleado}">
        <label th:text="${ empleado.nombre }"></label><br>
        <label th:text="${ empleado.apPaterno }"></label><br>
        <label th:text="${ empleado.apMaterno }"></label><br>
        <label th:text="${ empleado.dni }"></label><br>
        <label th:text="${ empleado.estadoCivil }"></label><br>
        <label th:text="${ empleado.edad }"></label><br>
        <label th:text="${ empleado.genero }"></label><br>
        <div class="image">
        	<img th:src="@{/img/{image}(image=${ empleado.foto })}" width="80px">
        </div>-->
    </div>
</section>

<h3>Datos Bancarios</h3>
<section class="section">
    <div th:object="${cuentaBancaria}">
        <label th:text="${ cuentaBancaria.banco }"></label><br>
        <label th:text="${ cuentaBancaria.cci }"></label><br>
    </div>
</section>

<h3>Cuenta Bancaria</h3>
<section class="section">
    <div th:object="${contrato}">
        <label th:text="${ contrato.antiguedad }"></label><br>
        <label th:text="${ contrato.modalidadContrato }"></label><br>
        <label th:text="${ contrato.fechaInicio }"></label><br>
        <label th:text="${ contrato.fechaFin }"></label><br>
        <label th:text="${ contrato.area }"></label><br>
        <label th:text="${ contrato.sueldoBasico }"></label><br>
        <label th:text="${ contrato.jornadaLaboral }"></label><br>
    </div>
</section>

</body>
</html>