<!DOCTYPE html>
<html lang="es">
<head th:replace="~{shared/head :: head() }"></head>
<script>
    window.onload = function () {
        setTimeout(function () {
            window.location.href = /*[[ @{/empleados/{cod}(cod=${id})} ]]*/ '';
            alert("¡El tiempo sesion a acabado por inactividad!");
        }, 920000); // 900,000 ms = 15 minutos
    };
</script>
<body>

<div th:replace="~{shared/menu :: menu()}"></div>
<div th:replace="~{shared/header :: header(titulo = 'Nuevo Contrato') }"></div>

<div class="container">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/empleados/">Empleados</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nuevo Contrato</li>
        </ol>
    </nav>

    <form th:action="@{/areas/agregar-contrato}" th:object="${contrato}" method="post">

        <div class="card mb-3 col-12 col-md-5">
            <div class="card-body">
                <div class="form-floating mb-3">
                    <select id="floatEmpleado" class="form-select" th:field="*{empleado}">
                        <option value="">Seleccione...</option>
                        <option th:each="emp : ${ empleados }" th:value="${ emp.id }"
                                th:text="${ emp.nombreCompleto }"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('empleado')}" th:errors="*{empleado}" class="text-danger"></p>
                    <label for="floatEmpleado">Empleado</label>
                </div>

                <div class="form-floating mb-3">
                    <select id="floatArea" class="form-select" th:field="*{area}">
                        <option value="">Seleccione...</option>
                        <option th:each="area : ${ areas }" th:value="${ area.id }"
                                th:text="${ area.nombre }"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('area')}" th:errors="*{area}" class="text-danger"></p>
                    <label for="floatArea">Área</label>
                </div>

                <div class="form-floating mb-3">
                    <select id="floatJornada" class="form-select" th:field="*{jornada}">
                        <option value="">Seleccione...</option>
                        <option th:each="jornada : ${ jornadas }" th:value="${ jornada.id }"
                                th:text="${ jornada.nombre }"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('jornada')}" th:errors="*{jornada}" class="text-danger"></p>
                    <label for="floatJornada">Jornada</label>
                </div>

                <div class="form-floating mb-3">
                    <select id="floatModalidad" class="form-select" th:field="*{modalidad}">
                        <option value="">Seleccione...</option>
                        <option th:each="modalidad : ${ modalidades }" th:value="${ modalidad.id }"
                                th:text="${ modalidad.nombre }"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('modalidad')}" th:errors="*{modalidad}" class="text-danger"></p>
                    <label for="floatModalidad">Modalidad</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="fechaEmision" placeholder="fechaemision"
                           th:field="*{fechaEmision}" th:value="*{fechaEmision}">
                    <p th:if="${#fields.hasErrors('fechaEmision')}" th:errors="*{fechaEmision}"
                       class="text-danger"></p>
                    <label for="fechaEmision">Fecha Emisión</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="fechaInicio" placeholder="fechainicio"
                           th:field="*{fechaInicio}" th:value="*{fechaInicio}">
                    <p th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}"
                       class="text-danger"></p>
                    <label for="fechaInicio">Fecha Inicio</label>
                </div>
            </div>
        </div>

        <div class=" col-5 d-flex justify-content-center" style="margin-top: 2rem;">
            <button type="submit" class="btn btn-primary mb-5" style="margin-right: 2rem;">Contratar</button>
            <a class="btn btn-outline-primary mb-5" href="/empleados">Cancelar</a>
        </div>
    </form>
</div>

</body>
</html>