<div th:fragment="header()">
  <header class="p-3 mb-3 border-bottom border-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center w-100">

        <div class="me-auto">
          <a href="/empleados" class="text-decoration-none">
            <svg width="100" height="40" xmlns="http://www.w3.org/2000/svg">
              <text x="0" y="30" font-family="Arial, sans-serif" font-size="30" font-weight="bold" fill="#040404">LOGO</text>
            </svg>
          </a>
        </div>

        <div class="dropdown text-end ms-auto">
          <a href="" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownLogout" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle fs-2"></i>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownLogout">
            <li>
              <a class="dropdown-item" href="">Mi perfil</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2" href="">
                <img src="/icons/logout.svg" alt="log out svg" width="20" height="20">
                <span>Cerrar sesión</span>
              </a>
            </li>            
          </ul>
        </div>

      </div>
    </div>
  </header>
</div>