<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<header>
		<h1>Administración de Empleados</h1>
		<div>
			<button th:action="@{/sis/login}">cerrar sesion</button>
		</div>
	</header>
	<br>
	<div>
		<nav>
			<input placeholder="Nombre o DNI o Codigo">
			<select>
				<option value="">Todos los Areas</option>
                <option th:each="a:${areas}" th:text="${a.nombre}"></option>
			</select>
			<select>
				<option value="">Todos los Jornadas</option>
                <option th:each="j: ${jornadas}" th:text="${j.nombre}"></option>
			</select>
			<button    >
				<img th:src="@{/img/filtrar.png}" width="20px" height="20px">
				Filtrar
			</button>
		</nav>
	</div>
	<br>
	<div>
		<table border=4 >
			<thead class="table-dark">
				<tr>
					<th>CODIGO</th>
					<th>NOMBRES</th>
					<th>TIEMPO</th>
					<th>AREA</th>
					<th>MODALIDAD</th>
					<th>JORNADA</th>
					<th>DETALLES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e:${empleados}">
					<td th:text="${e[0]}"></td>
					<td th:text="${e[1]}"></td>
					<td th:text="${e[2]}"></td>
					<td th:text="${e[3]}"></td>
					<td th:text="${e[4]}"></td>
					<td th:text="${e[5]}"></td>
					<td >
						<div class="col-md-3">						
							<a th:href="@{/temp/detalleemple}">
							  <img th:src="@{/img/detalle.png}" width="30px" height="30px" alt="detalleIcon" >
							</a>
		                </div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>