<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="../static/css/estilos1.css"></link>
	
	
</head>
<body>
	
	<h1 id="hola" >INICIAR SESION</h1>
	
	<form th:action="@{/sis/login}" th:object="${login}" method="POST">
	  <label for="username">USUARIO:</label><br>
	  	<input type="text" th:field="*{usurio}" requerid><br>
	  <label for="pass">CONTRASEÑA:</label><br>
	  	<input type="password"  th:field="*{contraseña}"   requerid><br>
	  	
	  <button type="submit"> Iniciar Sesion </button>
	</form>
	
	
</body>
</html>